@{
    var currentUser = UserContext.CurrentUser;
    string search = ViewData.Get<string>("search", null);
    var registrationMode = DIContainer.Resolve<ISettingsManager<UserSettings>>().Get().RegistrationMode;
    bool groupIsEnable = ViewData.Get<bool>("groupIsEnable", false);
    Navigation navigation = ViewData.Get<Navigation>("navigation", null);
}
<!--[if IE 6]>
<script type="text/javascript" src="@(Tunynet.Utilities.WebUtility.ResolveUrl("~/Scripts/jquery/DD_belatedPNG/jquery.DD_belatedPNG-0.0.8a.js"))"></script>
<![endif]-->
@Html.AntiForgeryToken()

<div id="tn-header" class="tn-header-bg">
    <div class="tn-wrapper header-wrap">
        <div class="spb-logo"><a href="/">前端</a></div>
        <div class="header-drop">
            <div class="drop-wrap">
                <a href="/blog"><i class="fa fa-th"></i></a>
                <span>文集</span>
            </div>
            @if (currentUser != null)
            {
                <div class="drop-wrap">
                    <a href="/timeline"><i class="fa fa-users"></i></a>
                    <span>朋友圈</span>
                </div>
                <div class="drop-wrap">
                    <a href="/u/@currentUser.UserName/blog/create" target="_blank"><i class="fa fa-pencil"></i></a>
                    <span>写文章</span>
                </div>
            }
        </div>
        <div class="header-user">
            @if (currentUser != null)
            {
                <div class="drop-wrap">
                    <a class="spb-menu-link" href="/u/@currentUser.UserName/myhome" title="我的主页"><i class="fa fa-user"></i></a>
                    <span>我的主页</span>
                </div>
                <div class="drop-wrap">
                    <a class="spb-menu-link" href="@SiteUrls.Instance().Logout()" title="注销"><i class="fa fa-sign-in"></i></a>
                    <span>注销</span>
                </div>
            }
            else
            {
                <div class="drop-wrap">
                    <a class="spb-menu-link"
                       href="@SiteUrls.Instance().Login(true, SiteUrls.LoginModal._LoginInModal)"
                       title="登录"
                       id="login"
                       plugin="dialog"
                       rel="nofollow">
                        <i class="fa fa-sign-in"></i>
                    </a>
                    <span>登录</span>
                </div>
            }
            <div class="drop-wrap">
                <a class="spb-menu-link" href="#"><i class="fa fa-font"></i></a>
                <span>字体设置</span>
            </div>
            
        </div>
    </div>
</div>
