@{
    Layout = "_Square";
    IEnumerable<IUser> hotUsers = ViewData.Get<IEnumerable<IUser>>("hotUsers", null);
    IEnumerable<Activity> activities = ViewData.Get<IEnumerable<Activity>>("activities", null);
    Html.Script("~/Bundle/Scripts/SliderKit");
}
@section Aside
{
<div class="cover-img tn-first">
    <div class="side-bottom-block">
        <h1>技术圈</h1>
        <h3>以技会友</h3>
        <p>分享自己的技术知识，结交更多的朋友</p>
        <br />
        <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span>&nbsp;写篇文章</a>
    </div>
</div>
}
<div class="tn-box tn-widget tn-widget-content tn-corner-all">
    <div class="tn-box-header tn-widget-header tn-corner-top tn-border-bottom">
        <h3 class="tn-helper-reset">看看大家在做什么</h3>
    </div>
    <div class="tn-box-content tn-widget-content tn-corner-bottom">
        <ul id="tnc-dynamic" class="tn-list tnc-dynamic">
            @Html.Action("_SiteActivities", "Channel")
        </ul>
    </div>
</div>